@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
:root {
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate100: hsl(202, 86%, 94%);
  --Slate300: hsl(203, 41%, 72%);
  --Slate500: hsl(200, 26%, 54%);
  --Slate700: hsl(200, 24%, 40%);
  --Slate900: hsl(202, 55%, 16%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Slate300);
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
}

.texto {
  background-color: white;
  width: 400px;
  padding: 1.5rem;
}

.texto__titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.texto__titulo,
h1 {
  font-size: 20px;
  font-weight: 700;
}

.texto__titulo button {
  all: unset;
  color: var(--Slate700);
  font-size: 10px;
  border-bottom: 1px solid var(--Slate700);
  cursor: pointer;
}

.texto__uno {
  font-size: 12px;
  color: var(--Slate700);
}

.texto__uno input {
  margin-top: 7px;
  width: 100%;
  padding: 8px;
  border: 1px solid var(--Slate900);
  border-radius: 0 4px 4px 0;
}

.texto__input1 {
  display: flex;
  align-items: end;
  border: 1px solid var(--Slate900);
}

.texto__input1__img {
  width: 40px;
  height: 33px;
  background-color: var(--Slate300);
  border-radius: 4px 0 0 4px;
  color: var(--Slate900);
  font-size: 20px;
  padding: 3px;
  text-align: center;
}

 .texto__uno input:active{
  border: 1px solid var(--Lime);
} 

.result {
  background-color: var(--Slate900);
  color: var(--White);
  width: 400px;
  padding: 1.5rem;
  border-radius: 0 10px 10px 60px;
}

.result__total {
  display: none;
}

@media screen and (min-width: 805px) {
  .contenedor {
    width: 800px;
    background-color: white;
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 10px 10px 10px 10px;
  }
  .texto {
    border-radius: 20px;
  }
}
